.sio--preview-icons {
  *zoom: 1; }
  .sio--preview-icons:before, .sio--preview-icons:after {
    content: " ";
    display: table; }
  .sio--preview-icons:after {
    clear: both; }

/**
 * Social Icons Obvs colours.
 */
/**
 * WordPress colours.
 */
.sio--switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }
  .sio--switch:hover .sio--slider {
    background-color: #3d596d; }
  .sio--switch input {
    display: none; }
  .sio--switch input:checked + .sio--slider {
    background-color: #4ab866; }
  .sio--switch input:focus + .sio--slider {
    box-shadow: 0 0 1px #4ab866; }
  .sio--switch input:checked + .sio--slider:before {
    -ms-transform: translateX(16px);
    transform: translateX(16px); }

.sio--slider {
  border-radius: 24px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #87a6bc;
  transition: 0.4s; }
  .sio--slider:before {
    border-radius: 50%;
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s; }

.sio--account-url {
  padding-left: 3em;
  transition: 0.4s; }
  .sio--account-url span {
    color: #2e4453; }
  .sio--account-url.disabled {
    opacity: 0; }

.sio--input {
  border-radius: 4px;
  padding: 6px;
  width: 50%; }

.sio--spectrum {
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  color: #2e4453;
  padding: 4px;
  transition: border 0.4s ease-in-out; }
  .sio--spectrum:hover, .sio--spectrum.sp-active {
    border-color: rgba(0, 0, 0, 0.25);
    color: #2e4453; }
  .sio--spectrum .sp-preview {
    border: 1px solid #DDDDDD;
    height: 16px; }
  .sio--spectrum .sp-dd {
    font-size: 8px;
    height: 18px;
    line-height: 18px;
    padding: 0; }

.sio--colour-picker {
  background-color: #ffffff;
  border: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 2px 2px rgba(204, 204, 204, 0.25);
  display: none;
  font: inherit; }
  .sio--colour-picker .sp-picker-container {
    border: 0; }
  .sio--colour-picker button,
  .sio--colour-picker input,
  .sio--colour-picker .sp-color,
  .sio--colour-picker .sp-hue,
  .sio--colour-picker .sp-clear {
    font: inherit; }

.sio--icon {
  display: block; }
  .sio--icon:before {
    content: '';
    display: block;
    height: inherit;
    width: inherit; }
  .sio--icon-behance.sio--icon-bg-brand {
    background-color: #1769ff; }
  .sio--icon-behance:before {
    background-image: url("../image/sio-icon-behance.svg"); }
  .sio--icon-bitbucket.sio--icon-bg-brand {
    background-color: #205081; }
  .sio--icon-bitbucket:before {
    background-image: url("../image/sio-icon-bitbucket.svg"); }
  .sio--icon-dribbble.sio--icon-bg-brand {
    background-color: #ea4c89; }
  .sio--icon-dribbble:before {
    background-image: url("../image/sio-icon-dribbble.svg"); }
  .sio--icon-facebook.sio--icon-bg-brand {
    background-color: #3b5998; }
  .sio--icon-facebook:before {
    background-image: url("../image/sio-icon-facebook.svg"); }
  .sio--icon-github.sio--icon-bg-brand {
    background-color: #333333; }
  .sio--icon-github:before {
    background-image: url("../image/sio-icon-github.svg"); }
  .sio--icon-google.sio--icon-bg-brand {
    background-color: #dd4b39; }
  .sio--icon-google:before {
    background-image: url("../image/sio-icon-google.svg"); }
  .sio--icon-instagram.sio--icon-bg-brand {
    background-color: #e1306c; }
  .sio--icon-instagram:before {
    background-image: url("../image/sio-icon-instagram.svg"); }
  .sio--icon-linkedin.sio--icon-bg-brand {
    background-color: #0077b5; }
  .sio--icon-linkedin:before {
    background-image: url("../image/sio-icon-linkedin.svg"); }
  .sio--icon-pinterest.sio--icon-bg-brand {
    background-color: #bd081c; }
  .sio--icon-pinterest:before {
    background-image: url("../image/sio-icon-pinterest.svg"); }
  .sio--icon-soundcloud.sio--icon-bg-brand {
    background-color: #ff3300; }
  .sio--icon-soundcloud:before {
    background-image: url("../image/sio-icon-soundcloud.svg"); }
  .sio--icon-tumblr.sio--icon-bg-brand {
    background-color: #35465c; }
  .sio--icon-tumblr:before {
    background-image: url("../image/sio-icon-tumblr.svg"); }
  .sio--icon-twitter.sio--icon-bg-brand {
    background-color: #1da1f2; }
  .sio--icon-twitter:before {
    background-image: url("../image/sio-icon-twitter.svg"); }
  .sio--icon-vimeo.sio--icon-bg-brand {
    background-color: #1ab7ea; }
  .sio--icon-vimeo:before {
    background-image: url("../image/sio-icon-vimeo.svg"); }
  .sio--icon-youtube.sio--icon-bg-brand {
    background-color: #cd201f; }
  .sio--icon-youtube:before {
    background-image: url("../image/sio-icon-youtube.svg"); }

.sio--icon-bg-transparent {
  background-color: transparent; }

.sio--icon-bg-custom {
  background-color: #2e4453; }

.sio--icon-shape-rounded {
  border-radius: 4px; }

.sio--icon-shape-square {
  border-radius: 0; }

.sio--icon-shape-circle {
  border-radius: 100%; }

.sio--icon-size-sm {
  height: 30px;
  width: 30px; }

.sio--icon-size-md {
  height: 40px;
  width: 40px; }

.sio--icon-size-lg {
  height: 50px;
  width: 50px; }

.sio--wrap h2,
.sio--wrap h3.sio--heading {
  margin-top: 2em; }

.sio--wrap table {
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(204, 204, 204, 0.25);
  margin-top: 1.5em; }
  .sio--wrap table tbody > tr {
    background-color: #ffffff; }
  .sio--wrap table tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9; }
  .sio--wrap table tbody > tr:first-of-type th {
    border-top-left-radius: 4px; }
  .sio--wrap table tbody > tr:first-of-type td {
    border-top-right-radius: 4px; }
  .sio--wrap table tbody > tr:last-of-type th {
    border-bottom-left-radius: 4px; }
  .sio--wrap table tbody > tr:last-of-type td {
    border-bottom-right-radius: 4px; }
  .sio--wrap table th,
  .sio--wrap table td {
    padding: 1em 3em;
    vertical-align: middle; }

.sio--tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  list-style: none;
  margin: 1em 0 2em 0;
  padding: 0 0 0 1em; }
  .sio--tabs li {
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #0087be;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 1em 2em;
    position: relative;
    top: 1px;
    vertical-align: bottom; }
  .sio--tabs li:hover {
    color: #78dcfa; }
  .sio--tabs li.current {
    border-bottom-color: #f1f1f1;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-color: rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.25); }
    .sio--tabs li.current a {
      color: #2e4453;
      text-decoration: none; }
  .sio--tabs a:focus {
    box-shadow: none;
    outline: none; }

.sio--tab-content {
  display: none;
  position: relative; }
  .sio--tab-content.current {
    display: inherit; }
  .sio--tab-content.tab-display .form-table {
    display: none; }

.sio--wrap {
  padding-right: 20px; }

.sio--heading-icon {
  display: block;
  line-height: 30px;
  margin-left: 30px;
  padding-left: 15px;
  position: relative;
  transition: 0.4s; }
  .sio--heading-icon.disabled {
    opacity: 0.3; }
  .sio--heading-icon .sio--icon {
    left: -30px;
    position: absolute;
    top: 0; }

.sio--preview {
  background: url("../image/sio-preview-background.png") top left repeat;
  background-size: 20px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(191, 191, 191, 0.25);
  box-sizing: border-box;
  margin-top: 1.5em;
  padding: 3em; }

.sio--preview-icons {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  .sio--preview-icons.sio--icon-align-center {
    text-align: center; }
  .sio--preview-icons.sio--icon-align-left {
    text-align: left; }
  .sio--preview-icons.sio--icon-align-right {
    text-align: right; }
  .sio--preview-icons li {
    display: inline-block;
    margin: 0;
    vertical-align: bottom; }
    .sio--preview-icons li.sio--icon-spacing-xs {
      padding: 20px 5px; }
    .sio--preview-icons li.sio--icon-spacing-sm {
      padding: 20px 10px; }
    .sio--preview-icons li.sio--icon-spacing-md {
      padding: 20px 15px; }
    .sio--preview-icons li.sio--icon-spacing-lg {
      padding: 20px 20px; }
    .sio--preview-icons li.sio--icon-spacing-xl {
      padding: 20px 25px; }

.sio--sort-icons li {
  background-color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 1em 3em;
  position: relative;
  text-align: center; }
  .sio--sort-icons li:before {
    background-image: url(../image/sio-icon-sort.svg);
    opacity: 0.25;
    filter: alpha(opacity=25);
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 30px;
    left: 3em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 0.4s ease-in-out;
    width: 30px; }
    .no-svg .sio--sort-icons li:before {
      background-image: url(../image/sio-icon-sort.png); }
      @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        .no-svg .sio--sort-icons li:before {
          background-image: url(../image/sio-icon-sort@2x.png); } }
  .sio--sort-icons li:nth-of-type(odd) {
    background-color: #f9f9f9; }
  .sio--sort-icons li > span {
    display: inline-block;
    vertical-align: bottom; }
  .sio--sort-icons li:hover:before {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.sio--preview-icons li.sio--empty, .sio--sort-icons li.sio--empty {
  background: #d94f4f;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  margin: 3em;
  padding: 1em 2em;
  width: calc( 100% - 6em); }
  .sio--preview-icons li.sio--empty:before, .sio--sort-icons li.sio--empty:before {
    display: none; }

.wp-core-ui .notice.is-dismissible {
  margin-left: 0;
  margin-top: 20px; }
