.sio-icon {
  display: block;

  &::before {
    content: '';
    display: block;
    height: inherit;
    width: inherit;
  }

  // social styles
  
  &--behance {

    &.sio-icon--brand {
      background-color: $brand-color-behance;
    }

    &::before {
      background-image: url('../image/sio-icon-behance.svg');
    }
  }

  &--bitbucket {

    &.sio-icon--brand {
      background-color: $brand-color-bitbucket;
    }

    &::before {
      background-image: url('../image/sio-icon-bitbucket.svg');
    }
  }

  &--dribbble {

    &.sio-icon--brand {
      background-color: $brand-color-dribbble;
    }

    &::before {
      background-image: url('../image/sio-icon-dribbble.svg');
    }
  }

  &--facebook {

    &.sio-icon--brand {
      background-color: $brand-color-facebook;
    }

    &::before {
      background-image: url('../image/sio-icon-facebook.svg');
    }
  }

  &--github {

    &.sio-icon--brand {
      background-color: $brand-color-github;
    }

    &::before {
      background-image: url('../image/sio-icon-github.svg');
    }
  }

  &--instagram {

    &.sio-icon--brand {
      background-color: $brand-color-instagram;
    }

    &::before {
      background-image: url('../image/sio-icon-instagram.svg');
    }
  }

  &--linkedin {

    &.sio-icon--brand {
      background-color: $brand-color-linkedin;
    }

    &::before {
      background-image: url('../image/sio-icon-linkedin.svg');
    }
  }

  &--pinterest {

    &.sio-icon--brand {
      background-color: $brand-color-pinterest;
    }

    &::before {
      background-image: url('../image/sio-icon-pinterest.svg');
    }
  }

  &--soundcloud {

    &.sio-icon--brand {
      background-color: $brand-color-soundcloud;
    }

    &::before {
      background-image: url('../image/sio-icon-soundcloud.svg');
    }
  }

  &--tumblr {

    &.sio-icon--brand {
      background-color: $brand-color-tumblr;
    }

    &::before {
      background-image: url('../image/sio-icon-tumblr.svg');
    }
  }

  &--twitter {

    &.sio-icon--brand {
      background-color: $brand-color-twitter;
    }

    &::before {
      background-image: url('../image/sio-icon-twitter.svg');
    }
  }

  &--vimeo {

    &.sio-icon--brand {
      background-color: $brand-color-vimeo;
    }

    &::before {
      background-image: url('../image/sio-icon-vimeo.svg');
    }
  }

  &--youtube {

    &.sio-icon--brand {
      background-color: $brand-color-youtube;
    }

    &::before {
      background-image: url('../image/sio-icon-youtube.svg');
    }
  }

  &--yunojuno {

    &.sio-icon--brand {
      background-color: $brand-color-yunojuno;
    }

    &::before {
      background-image: url('../image/sio-icon-yunojuno.svg');
    }
  }

  // background colour
  &--bg-transparent {
    background-color: transparent !important;
  }

  &--bg-custom {
    background-color: $wp-color-grey-dark;
  }
  
  // shape
  &--shape-rounded {
    border-radius: $sio-border-radius;
  }

  &--shape-square {
    border-radius: 0;
  }

  &--shape-circle {
    border-radius: 50%;
  }

  // size
  &--size-sm {
    height: $sio-icon-sizing-sm;
    width: $sio-icon-sizing-sm;
  }

  &--size-md {
    height: $sio-icon-sizing-md;
    width: $sio-icon-sizing-md;
  }

  &--size-lg {
    height: $sio-icon-sizing-lg;
    width: $sio-icon-sizing-lg;
  }
  
}
