.sio-wrap {

  table {
    border-radius: $sio-border-radius;
    box-shadow: $sio-border-shadow;
    margin-top: $sio-spacing-lg / 2;

    tbody > tr {
      background-color: $sio-color-white;
    }

    tbody > tr:nth-of-type(odd) {
      background-color: $sio-color-grey-light;
    }

    tbody > tr:first-of-type {

      th {
        border-top-left-radius: $sio-border-radius;
      }

      td {
        border-top-right-radius: $sio-border-radius;
      }

    }

    tbody > tr:last-of-type {

      th {
        border-bottom-left-radius: $sio-border-radius;
      }

      td {
        border-bottom-right-radius: $sio-border-radius;
      }

    }

    th,
    td {
      padding: $sio-spacing-xs $sio-spacing-lg;
      vertical-align: middle;
    }

  }

}
