// WP vars.
$wp-admin-menu-width:           160px;
$wp-admin-bar-height:           32px;
$wp-border-radius:              5px;
$wp-box-shadow:                 inset 0 1px 2px rgba(0, 0, 0, 0.07);

// Spacing.
$sio-spacing-lg:                3em;
$sio-spacing-md:                2.5em;
$sio-spacing-sm:                2em;
$sio-spacing-xs:                1em;

// Transitions.
$sio-transition:                .4s;

// Borders.
$sio-border-radius:             4px;
$sio-border-shadow:             0 2px 2px lighten( $sio-border-color, 80 );

// Icons.
$sio-icon-sizing-sm:            30px;
$sio-icon-sizing-md:            40px;
$sio-icon-sizing-lg:            50px;

// Icon specific spacing.
$sio-icon-spacing-xs:           5px;
$sio-icon-spacing-sm:           10px;
$sio-icon-spacing-md:           15px;
$sio-icon-spacing-lg:           20px;
$sio-icon-spacing-xl:           25px;
